body {
  text-align: center;
  background: linear-gradient(to right, red, yellow);
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  margin-top: 15%;
  color: rgba(0, 0, 0, 0.75);
  letter-spacing: 0.5em;
}

input {
  height: 8vh;
  width: 16vh;
}

h1 {
  font-weight: 600 9em;
}

h2,
h3 {
  font-weight: 300;
}

button {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  background-color: white;
  color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 10px;
}
